*.png
Assets/Demons_Pack/
Assets/Fire Hero 1/
Assets/Pack/
*.physicsMaterial2D
Assets/Standard Assets/
Library/
Assets/Sprites/
Assets/New Physics Material 2D.physicsMaterial2D.meta
Assets/MovingPlatform Material.physicsMaterial2D.meta
*.meta
Temp/
.vs/
Assets/Firebase/
Assets/Plugins/x86_64/Firebase/App.bundle
Assets/Plugins/
Assets/PlayServicesResolver/
Assets/Parse/
